
@use "tailwindcss";
@config "../../tailwind.config.ts";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  font-family: 'var(--font-avenir-next)', sans-serif, 'Roboto';
}

//custom scrollbar styling
// Hide scrollbar but keep scrolling
.scrollbar-hidden {
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    display: none;
  }
}

// Show thin scrollbar when hovering
.scrollbar-hover {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

