@use "tailwindcss";
@config "../../tailwind.config.ts";

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("/fonts/AvenirNext-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("/fonts/#AvenirNext-DemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro";
  src: url("/fonts/AvenirNextLTPro-It.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  font-family: "AvenirNextLTPro", sans-serif;
}
